body {
	margin: 0;
	padding: 0;
	display: block;
	font-family: helvetica, arial, sans-serif;
}

header {
	background: #3b5998;
	padding: 2px 0px;
}

#contrasenia {
	border-style: none;
	border-radius: 4px;
	float: right;
	padding: 7px 3px;
	margin-right: 7px;
}

#correo {
	border-style: none;
	border-radius: 4px;
	float: right;
	padding: 7px 3px;
	margin-right: 7px;
}

.facebook {
	color: white;
	margin-left: 30px;
}

.entrar {
	background: #8b9dc3;
	padding: 7px 7px;
	color: white;
	margin-right: 50px;
	float: right;
	border-style: none;
	border-radius: 3px;
	cursor: pointer;
}

.entrar:hover {
	background: #dfe3ee
}

/* Contenido */

.letras {
	color: #3b5998;
	font-size: 25px;
	margin-left: 90px;
}

.letras2 {
	color: #3b5998;
	font-size: 25px;
	margin-left: 90px;
}

#conection {
	margin-left: 90px;
}

#izquierda {
	float: left;
}

.derecho {
	float: right;
}

.register {
	font-size: 30px;
	font-family: bold;
	margin-top: 10px;
}

.gratis {
	font-size: 15px;
	margin-top: 10px;
}

.cookies {
	color: #4267b2;
}

#alta {
	background: green;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
	border-style: none;
    width: 250px;
	float: right;
	margin-right: 478px;
}

.center {
	float: right;
	margin-right: 410px;
}

.fecha {
	padding: 4px 2px;
	border-radius: 1px;
	border: 1px solid #ccc;
}

/* Formulario de registro */

#nombre {
	border: 1px solid #ccc;
	display: inline-block;
	margin: 3px 0px;
	border-radius: 4px;
	padding: 10px 11px;
}

#apellido {
	border: 1px solid #e6e6e6;
	display: inline-block;
	margin: 3px 0px;
	border-radius: 4px;
	padding: 10px 11px;
}

#movil {
	border: 1px solid #e6e6e6;
	display: inline-block;
	margin: 3px 0zpx;
	border-radius: 4px;
	padding: 10px 97px;
}

#password {
	border: 1px solid #e6e6e6;
	display: inline-block;
	margin: 3px 0px;
	border-radius: 4px;
	padding: 10px 97px;
}